.game-over {
    background-image: url(../../container/images/intro-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    h1 {
       margin: 0;
       padding: 0; 
       color: #FFCC00;
       font-size: 30px;
       margin-bottom: 20px;
    }
    h2 {
        color: #ffffff;
        font-size: 20px;
        margin-bottom: 20px;
    }
    p {
        color: #ffffff;
        font-size: 14px;
    }
    button {
        color: #ffffff;
        border: 0;
        border-radius: 5px;
        padding: 8px 20px;
        background-color: red;
        font-size: 20px;
        cursor: pointer;
        margin-top: 20px;
    }
}